@model SignUpForm

@{
    ViewData["Title"] = "Sign up";
}

<section class="signup">
    <div class="container">
        <form method="post" asp-controller="Auth" asp-action="SignUp">
            <h1>Create an account</h1>
            <p>Already have an account? <a asp-controller="Auth" asp-action="SignIn">Sign in here</a></p>

            <div class="alert">
                @ViewData["StatusMessage"]
            </div>

            <div class="form-content">
                <div class="input-group input-firstname">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName"/>
                    <span asp-validation-for="FirstName"></span>
                </div>

                <div class="input-group input-lastname">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" />
                    <span asp-validation-for="LastName"></span>
                </div>

                <div class="input-group input-email">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" />
                    <span asp-validation-for="Email"></span>
                </div>

                <div class="input-group input-password">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </div>

                <div class="input-group input-confirm">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>

                <div class="checkbox-group">
                    <div class="input-group">
                        <input asp-for="Terms" />
                        <label asp-for="Terms">
                            I agree to the <a asp-action="Terms" asp-controller="About">Terms</a> & <a asp-action="Conditions" asp-controller="About">Conditions</a>
                        </label>
                    </div>
                    <span asp-validation-for="Terms"></span>
                </div>

                <button class="btn btn-theme" type="submit">Sign up</button>
                
            </div>
        </form>
    </div>
</section>