﻿<section class="content-showcase">
    <div class="container">
        <div class="content">
            
            <img class="taskmaster" src="~/images/taskmaster/taskmaster.svg" alt="taskmaster"/>

            <div class="list">
                <h2>Manage your work</h2>
                <ul>
                    <li><img src="~/images/icons/bx-check-circle.svg" alt="checkmark" />Powerful project management</li>
                    <li><img src="~/images/icons/bx-check-circle.svg" alt="checkmark" />Transparent work management</li>
                    <li><img src="~/images/icons/bx-check-circle.svg" alt="checkmark" />Manage work & focus on the most important tasks</li>
                    <li><img src="~/images/icons/bx-check-circle.svg" alt="checkmark" />Track your progress with interactive charts</li>
                    <li><img src="~/images/icons/bx-check-circle.svg" alt="checkmark" />Easiest way to track time spent on tasks</li>
                </ul>
                <a class="btn-theme" asp-action="Index" asp-controller="Products">Learn more</a>
            </div>

        </div>
    </div>

</section>