﻿<section class="darkmode-showcase">
    <div class="container">
        <div class="content">
            <h1 class="title">Switch between &nbsp; light & dark mode</h1>

            <div class="images">
                <img class="dark-img" src="~/images/macbook/macbook-dark.svg" alt="macbook dark mode" />
                <img class="light-img" src="~/images/macbook/macbook-light.svg" alt="macbook light mode" />
            </div>

        </div>
    </div>

</section>