form {
    display: grid;
    width: 100%;

    label {
        font-weight: 700;
        padding: 2px 0;
    }

    .input-group {
        display: grid;
    }

    .checkbox-group {
        label {
            font-weight: 400;
        }

        .input-group {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }

    input, textarea {
        font-family: "manrope", sans-serif;
        font-size: 1em;
        font-weight: 400 !important;
        color: var(--color-black);
        background-color: var(--color-white);
        padding: 10px;
        border-radius: 8px;
        border: 1px solid var(--color-gray-500);

        &::placeholder {
            opacity: 0.5;
        }
    }

    input[type=checkbox] {
        height: 16px;
        width: 16px;
        margin: 0;
    }

    .field-validation-error {
        color: var(--color-danger);
        font-size: .9em;
        padding: 2px 0;
    }
}

.select {
    position: relative;
    min-width: 300px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M5.5 7l4.5 4.5L14.5 7z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;

    .selected {
        padding: 8px 16px;
        border-radius: 8px;
        border: 1px solid var(--color-gray-400);
        cursor: pointer;
    }

    .select-options {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--color-gray-000);
        border: 1px solid var(--color-gray-400);
        z-index: 10;

        .option {
            padding: 10px;
            cursor: pointer;
        }

        .option:hover {
            background-color: var(--color-gray-400);
        }
    }
}
